@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/pntopresume.woff');
}

@font-face {
  font-family: 'TexGyre';
  src: url('../fonts/texgyreadventor.woff');
}

@font-face {
  font-family: 'TexGyre-Bold';
  src: url('../fonts/texgyreadventor-b.woff');
}
$baseFontSize: 1.7rem;
$baseLineHeight: 1.55;

@mixin sansStack {
	font-family: 'proxima-nova', Helvetica, Arial, sans-serif;

	svg {
		transform: translateY(-11%);
	}
}

@mixin displayStack {
	font-family: 'TexGyre', Helvetica, Arial, serif;
	letter-spacing: 0;

	svg {
		transform: none;
	}
}

@mixin smCaps {
	@include sansStack;
	letter-spacing: 0.1em;
	font-size: 1.2rem;
	text-transform: uppercase;
}

@mixin tinyCaps {
	@include sansStack;
	letter-spacing: 0.1em;
	font-size: 1rem;
	text-transform: uppercase;
}

@mixin smText {
	@include sansStack;
	font-size: 1.35rem;
	letter-spacing: 0;
	text-transform: none;
}

@mixin tinyText {
	@include sansStack;
	font-size: 1.2rem;
	letter-spacing: 0;
	text-transform: none;
}
